<!-- dataTab — campos principales del item (común a casi todos los tipos). -->
<div class="tab-pane active bg-white col-xs-12 no-padder animated fadeIn speed-4x" id="dataTabV2" style="min-height: 400px;">
	<div class="col-xs-12 wrapper-md">
		<input type="file" name="image" id="itemImageInputV2" accept="image/*" style="position:absolute;margin-left:-3000px;" />

		<input type="text" id="insertItemNameV2" class="form-control maskRequiredText no-padder no-border no-bg font-bold text-dark" style="font-size:30px; height:55px;" name="name" placeholder="Nombre del Artículo" value="{{itemName}}" autocomplete="off">

		<div class="col-sm-6">
			<input type="text" class="form-control no-padder no-border no-bg text-muted font-bold text-u-c" name="uid" placeholder="SKU o Código de Barras" value="{{itemSKU}}" autocomplete="off">
		</div>

		{{#canSale}}
		<div class="col-sm-6">
			<input type="text" class="sellingPriceEdit form-control prices input-lg font-bold text-right maskCurrency no-bg no-border b-b b-3x m-b-xs text-info" name="sellingPrice" style="font-size:25px;" value="{{finalPriceFmt}}" placeholder="Precio" autocomplete="off">
		</div>

		<div class="col-xs-12 no-padder text-sm text-u-c text-muted text-right font-bold">
			Costo: <span class="text-default m-r-sm">{{currency}}{{cogsFmt}}</span>
			Markup: <span class="text-default m-r-sm">{{markupFmt}}%</span>
			Margen: <span class="text-default m-r-sm">{{marginFmt}}%</span>
			Ganancia: <span class="text-default m-r-sm">{{currency}}{{grossFmt}}</span>
		</div>
		{{/canSale}}

		<div class="col-xs-12 no-padder m-t-md m-b-lg">
			<label class="font-bold text-u-c text-xs">Descripción</label>
			<textarea class="form-control no-border b-b b-light no-bg text-muted" placeholder="Descripción general" name="description" autocomplete="off">{{description}}</textarea>
		</div>

		<div class="col-xs-12 no-padder m-t">
			<div class="col-sm-6 m-b">
				<span class="font-bold text-u-c text-xs">Impuesto</span>
				<select name="tax" class="form-control no-bg no-border searchSimple b-b b-light m-b">
					{{#taxes}}<option value="{{id}}" {{#selected}}selected{{/selected}}>{{name}}</option>{{/taxes}}
				</select>
			</div>

			<div class="col-sm-6 m-b">
				<span class="font-bold text-u-c text-xs">Categoría</span>
				<select name="category" class="category form-control no-bg no-border b-b b-light m-b searchSimple">
					<option value="">Sin categoría</option>
					{{#categories}}<option value="{{id}}" {{#selected}}selected{{/selected}}>{{name}}</option>{{/categories}}
				</select>
			</div>
		</div>
	</div>
</div>
