<!-- header-default — columna izquierda para Producto/Combo/Producción.
     Imagen + nombre + precio + SKU + descripción + tipo. -->
<div class="col-sm-4 wrapper text-white text-center clear hidden-xs bg-info gradBgBlue animateBg matchCols">
	<a href="#" class="col-xs-12 no-padder m-b-lg itemImageBtn" data-toggle="tooltip" data-placement="top" style="margin-top:40%" title="Subir Imagen">
		<img src="{{img}}" width="225" height="225" class="itemImg all-shadows rounded">
	</a>
	<input type="hidden" class="itemImgFlag" name="itemImgFlag" value="{{imgFlag}}">

	<div class="text-right col-xs-12 no-padder">
		<div class="font-bold">{{itemName}}</div>

		{{#canSale}}
		<div class="font-bold h1">
			{{#archived}}<span class="text-u-c text-warning">Archivado</span>{{/archived}}
			{{^archived}}{{currency}}{{finalPriceFmt}}{{/archived}}
		</div>
		{{/canSale}}

		<em>SKU {{skuOrId}}</em>
		<div class="text-sm">{{description}}</div>
		<div class="text-sm">
			<span class="badge bg-white text-info">{{typeName}}</span>
		</div>
	</div>
</div>
