<div class="tab-pane bg-white col-xs-12 wrapper animated fadeIn speed-4x" id="inventoryTab" style="min-height: 400px;">

	<div class="col-xs-12 text-center m-b-lg r-24x bg-light lter">
		<div class="col-sm-4 b-r b-light m-b m-t">
			<div class="text-sm">Precio de Compra</div>
			<div class="h3 font-bold">{{currency}}{{stockCogsFmt}}</div>
		</div>
		<div class="col-sm-4 b-r b-light m-b m-t">
			<div class="text-sm">Costo Promedio</div>
			<div class="h3 font-bold">{{currency}}{{stockAvgCogsFmt}}</div>
		</div>
		<div class="col-sm-4 m-b m-t">
			<div class="text-sm">Valor total del stock</div>
			<div class="h3 font-bold">{{currency}}{{stockValueFmt}}</div>
		</div>
	</div>

	<div class="col-xs-12 wrapper b-b">
		<div class="font-bold text-u-c text-xs">Ajustes e historial</div>
		<div class="btn-group">
			<a href="#" class="btn btn-default font-bold btn-rounded" id="btnAddStock" data-toggle="tooltip" title="Añadir Stock">
				<i class="material-icons text-success">add</i>
			</a>
			<a href="#" class="btn btn-default font-bold btn-rounded" id="btnRemoveStock" data-toggle="tooltip" title="Remover Stock">
				<i class="material-icons text-danger">remove</i>
			</a>
			<a href="/@#report_inventory?ii={{itemId}}" target="_blank" class="btn btn-default btn-rounded text-u-c font-bold">
				Historial
			</a>
		</div>
	</div>

	<div class="col-xs-12 wrapper">
		<span class="font-bold text-u-c text-xs">Depósitos donde vive este artículo</span>
		<div class="text-muted text-xs m-b-sm">
			Marcá los depósitos donde se almacena el stock. En cada sucursal, elegí el
			<em>default</em> que se usa al vender o producir si no se especifica otro.
		</div>

		{{#deposits}}
		<div class="m-b-sm">
			<div class="text-u-c text-xs font-bold m-b-xs">{{outletName}}</div>
			{{#locations}}
			<label style="display:inline-flex;align-items:center;gap:6px;margin-right:12px;">
				<input type="checkbox" name="itemLocations[]" value="{{id}}" {{#assigned}}checked{{/assigned}}>
				<span>{{name}}</span>
			</label>
			<label class="m-r-sm text-xs text-muted">
				<input type="radio" name="itemLocationDefault[{{outletId}}]" value="{{id}}" {{#isDefault}}checked{{/isDefault}}>
				default
			</label>
			{{/locations}}
		</div>
		{{/deposits}}

		{{^hasDeposits}}
		<div class="text-muted text-xs">
			Aún no creaste depósitos. Configurá los depósitos de cada sucursal en
			<a href="/@#outlets" target="_blank">Sucursales</a>.
		</div>
		{{/hasDeposits}}
	</div>

</div>
