<div class="modal-body no-padder bg-white">
	<form action="/items?action=update" method="post" id="editItemV2" name="editItemV2">
		<input type="hidden" name="id" value="{{itemId}}">

		{{> header}}

		<div class="col-sm-8 no-padder bg-white matchCols">
			<div class="col-xs-12 no-padder bg-light dk block">
				<header class="header bg-light lt">
					<ul class="nav nav-tabs nav-white">
						<li class="active">
							<a href="#dataTabV2" class="tabs" title="Información">
								<i class="material-icons">list_alt</i>
							</a>
						</li>
						<li>
							<a href="#settingsTabV2" class="tabs" title="Ajustes">
								<i class="material-icons">settings</i>
							</a>
						</li>
					</ul>
				</header>
			</div>
			<div class="tab-content">
				{{> dataTab}}
				{{> settingsTab}}
			</div>
		</div>
	</form>
</div>
