<div class="modal-body no-padder bg-white">
	<form action="{{baseUrl}}?action=update" method="post" id="editItem" name="editItem">
		<div class="col-xs-12 wrapper text-center bg-info gradBgBlue animateBg">
			<input type="text" id="insertItemName" class="form-control maskRequiredText text-center no-border b-b b-white no-bg font-bold text-white m-t m-b" style="font-size:25px; height:55px;" name="name" placeholder="Nombre" value="{{itemName}}" autocomplete="off">
		</div>

		<div class="col-xs-12 bg-white wrapper">
			<div class="list-group alt">
				{{#children}}
				<a class="clickrow pointer row{{id}} list-group-item wrapper-md" id="{{id}}">
					<span class="font-bold">{{name}}</span>
					<span class="pull-right ungroup pointer" data-id="{{id}}">
						<i class="material-icons text-danger">close</i>
					</span>
					<div class="pull-right m-r">{{priceFmt}}</div>
				</a>
				{{/children}}
				{{^children}}
				<div class="text-muted text-center wrapper">Este grupo no tiene artículos.</div>
				{{/children}}
			</div>

			<div class="col-sm-6">
				<span class="font-bold text-u-c text-xs">Categoría del Grupo</span>
				<select name="category" class="category form-control no-bg no-border b-b b-light m-b searchSimple">
					<option value="">Sin categoría</option>
					{{#categories}}<option value="{{id}}" {{#selected}}selected{{/selected}}>{{name}}</option>{{/categories}}
				</select>
				<div class="col-xs-12 m-t no-padder">
					<span class="font-bold text-u-c text-xs">Sucursal</span>
					<select name="outlet" class="form-control no-bg no-border searchSimple b-b b-light">
						<option value="all">Todas</option>
						{{#outlets}}<option value="{{id}}" {{#selected}}selected{{/selected}}>{{name}}</option>{{/outlets}}
					</select>
				</div>
			</div>

			<div class="col-sm-3 col-xs-6 m-b">
				<div class="font-bold text-u-c text-xs">Online</div>
				<div class="switch-select switch {{#ecom}}selected{{/ecom}}" id="ecom">
					<div class="swinner"><input type="checkbox" name="ecom" class="ecomClass" value="1" {{#ecom}}checked{{/ecom}} /></div>
				</div>
				<div class="font-bold text-u-c text-xs m-t">Destacado</div>
				<div class="switch-select switch {{#featured}}selected{{/featured}}" id="featured">
					<div class="swinner"><input type="checkbox" name="featured" class="featuredClass" value="1" {{#featured}}checked{{/featured}} /></div>
				</div>
			</div>

			<div class="col-xs-12 no-padder m-t-md">
				<a href="#" class="pull-left m-t m-l itemsAction" data-id="{{itemId}}" data-type="archiveItem" data-load="{{baseUrl}}?action=delete&id={{itemId}}" title="Eliminar"><span class="text-danger">Eliminar</span></a>
				<input class="btn btn-info btn-lg btn-rounded text-u-c font-bold pull-right" type="submit" value="{{saveLabel}}">
				<a href="#" class="cancelItemView m-r-lg m-t pull-right">Cancelar</a>
				<input type="hidden" value="{{itemId}}" name="id">
				<input type="hidden" value="{{type}}" name="itemType">
			</div>
		</div>
	</form>
</div>
