<div class="modal-body no-padder bg-white">
	<form action="{{baseUrl}}?action=update" method="post" id="editItem" name="editItem">
		<div class="col-sm-12 wrapper gradBgYellow animateBg clear">
			<div class="col-xs-12 no-padder text-center">
				<div><span class="text-white font-bold" style="font-size:7em!important;">%</span></div>
			</div>

			<div class="col-xs-12 no-padder text-center text-white">Añada un nombre y porcentaje de descuento</div>

			<div class="col-sm-8 no-padder m-b">
				<input type="text" id="insertItemName" class="form-control maskRequiredText no-border b-b b-white no-bg font-bold text-white" style="font-size:25px; height:55px;" name="name" placeholder="Nombre" value="{{itemName}}" autocomplete="off">
			</div>

			<div class="col-sm-4 no-padder m-b">
				<input type="text" class="sellingPriceEdit maskInteger prices text-right form-control no-border b-b b-white no-bg font-bold text-white" name="sellingPrice" value="{{priceNoDecFmt}}" autocomplete="off" style="font-size:25px; height:55px;" />
			</div>

			<div class="col-xs-12 m-b-sm text-left">
				<label>Descripción</label>
				<input type="text" class="form-control no-border b-b b-white no-bg font-bold text-white" name="description" value="{{description}}" autocomplete="off">
			</div>

			<div class="col-xs-12 no-padder m-t-md">
				<a href="#" class="pull-left m-t m-l itemsAction" data-id="{{itemId}}" data-type="archiveItem" data-load="{{baseUrl}}?action=archive&id={{itemId}}" title="Archivar Artículo"><span class="text-danger font-bold">Archivar</span></a>
				<input class="btn btn-info btn-lg btn-rounded text-u-c font-bold pull-right" type="submit" value="{{saveLabel}}">
				<a href="#" class="cancelItemView m-r-lg m-t pull-right">Cancelar</a>
				<input type="hidden" value="{{itemId}}" name="id">
				<input type="hidden" value="{{type}}" name="itemType">
			</div>
		</div>
	</form>
</div>
