<div class="modal-body no-padder bg-white">
	<form action="{{baseUrl}}?action=update" method="post" id="editItem" name="editItem">
		<input type="hidden" name="id" value="{{itemId}}">

		{{> header}}

		<div class="col-sm-8 no-padder bg-white matchCols">
			<div class="col-xs-12 no-padder bg-light dk block">
				<header class="header bg-light lt">
					<ul class="nav nav-tabs nav-white">
						<li class="active">
							<a href="#dataTab" class="tabs" title="Información">
								<i class="material-icons">list_alt</i>
							</a>
						</li>
						<li>
							<a href="#settingsTab" class="tabs" title="Ajustes">
								<i class="material-icons">settings</i>
							</a>
						</li>
						{{#productionTools}}
						<li>
							<a href="#productionTab" class="tabs" title="Producción">
								<i class="material-icons">precision_manufacturing</i>
							</a>
						</li>
						{{/productionTools}}
						{{#inventoryTools}}
						<li>
							<a href="#inventoryTab" class="tabs" title="Inventario">
								<i class="material-icons">inventory</i>
							</a>
						</li>
						{{/inventoryTools}}
						{{#comboTools}}
						<li>
							<a href="#kitTab" class="tabs" title="Combo">
								<i class="material-icons">layers</i>
							</a>
						</li>
						<li>
							<a href="#upsellTab" class="tabs" title="Upsell">
								<i class="material-icons">loupe</i>
							</a>
						</li>
						{{/comboTools}}
					</ul>
				</header>
			</div>
			<div class="tab-content">
				{{> dataTab}}
				{{> settingsTab}}
				{{#productionTools}}{{> productionTab}}{{/productionTools}}
				{{#inventoryTools}}{{> inventoryTab}}{{/inventoryTools}}
				{{#comboTools}}{{> kitTab}}{{> upsellTab}}{{/comboTools}}
			</div>

			<div class="col-xs-12 no-padder m-t-md wrapper">
				{{#archived}}
				<a href="#" class="pull-left m-t m-l itemsAction" data-id="{{itemId}}" data-type="deleteItem" data-load="{{baseUrl}}?action=delete&id={{itemId}}" title="Eliminar Artículo"><span class="text-danger">Eliminar</span></a>
				{{/archived}}
				{{^archived}}
				<a href="#" class="pull-left m-t m-l itemsAction" data-id="{{itemId}}" data-type="archiveItem" data-load="{{baseUrl}}?action=archive&id={{itemId}}" title="Archivar Artículo"><span class="text-danger">Archivar</span></a>
				{{/archived}}
				<input class="btn btn-info btn-lg btn-rounded text-u-c font-bold pull-right" type="submit" value="{{saveLabel}}">
				<a href="#" class="cancelItemView m-r-lg m-t pull-right">Cancelar</a>
				<input type="hidden" value="{{itemId}}" name="id">
				<input type="hidden" value="{{type}}" name="itemType">
			</div>
		</div>
	</form>
</div>
