<div class="modal-body no-padder bg-white">
	<form action="/items?action=update" method="post" id="editItemV2" name="editItemV2">
		<div class="col-sm-12 wrapper gradBgOrange clear" id="giftBg">
			<div class="col-xs-12 no-padder text-center m-b-md">
				<div><i class="material-icons text-white" style="font-size:120px!important;">card_giftcard</i></div>
			</div>

			<div class="col-xs-12 no-padder text-center text-white">Añada un nombre y un monto mínimo inicial</div>

			<div class="col-sm-8 wrapper-xs m-b">
				<input type="text" id="insertItemNameV2" class="form-control maskRequiredText no-border b-b b-white no-bg font-bold text-white" style="font-size:25px; height:55px;" name="name" placeholder="Nombre" value="{{itemName}}" autocomplete="off">
			</div>

			<div class="col-sm-4 wrapper-xs m-b">
				<input type="text" class="sellingPriceEdit maskCurrency prices text-right form-control no-border b-b b-white no-bg font-bold text-white" name="sellingPrice" value="{{finalPriceFmt}}" autocomplete="off" style="font-size:25px; height:55px;" />
			</div>

			<div class="col-sm-4 col-xs-6 m-b-xs">
				<span class="font-bold text-u-c text-xs text-white">Impuesto</span>
				<select name="tax" class="form-control no-bg no-border b-b b-light m-b font-bold text-white">
					{{#taxes}}<option value="{{id}}" {{#selected}}selected{{/selected}}>{{name}}</option>{{/taxes}}
				</select>
			</div>

			<div class="col-sm-4 col-xs-6 m-b-xs" data-toggle="tooltip" title="Duración de esta Gift Card">
				<span class="font-bold text-u-c text-xs text-white">Duración</span>
				<input type="text" class="form-control text-right maskInteger no-border b-b b-white no-bg font-bold text-white" name="giftExpCount" value="{{giftExpCount}}" autocomplete="off">
				<input type="hidden" name="typeOfItem" value="giftcard">
			</div>

			<div class="col-sm-4 col-xs-6 m-b-xs">
				<span class="font-bold text-u-c text-xs text-white">&nbsp;</span>
				<select name="giftExpTime" class="form-control no-border b-b b-light no-bg font-bold text-white" autocomplete="off">
					<option value="year" {{#giftExpYear}}selected{{/giftExpYear}}>Año/s</option>
					<option value="month" {{#giftExpMonth}}selected{{/giftExpMonth}}>Mes/es</option>
					<option value="day" {{#giftExpDay}}selected{{/giftExpDay}}>Día/s</option>
				</select>
			</div>

			<div class="col-xs-12">
				<div class="col-sm-3 col-xs-6 no-padder m-b">
					<div class="font-bold text-u-c text-xs">Online</div>
					<div class="switch-select switch {{#ecom}}selected{{/ecom}}" id="ecom">
						<div class="swinner"><input type="checkbox" name="ecom" class="ecomClass" value="1" {{#ecom}}checked{{/ecom}} /></div>
					</div>
					<div class="font-bold text-u-c text-xs m-t">Destacado</div>
					<div class="switch-select switch {{#featured}}selected{{/featured}}" id="featured">
						<div class="swinner"><input type="checkbox" name="featured" class="featuredClass" value="1" {{#featured}}checked{{/featured}} /></div>
					</div>
				</div>

				<div class="col-sm-5 col-xs-12 no-padder m-b">
					<span class="font-bold text-u-c text-xs">Categoría</span>
					<select name="category" class="category form-control no-bg no-border b-b b-light m-b searchSimple">
						<option value="">Sin categoría</option>
						{{#categories}}<option value="{{id}}" {{#selected}}selected{{/selected}}>{{name}}</option>{{/categories}}
					</select>
				</div>
			</div>

			<div class="col-xs-12 no-padder m-t-md">
				<a href="#" class="pull-left m-t m-l itemsAction" data-id="{{itemId}}" data-type="archiveItem" data-load="/items?action=archive&id={{itemId}}" title="Archivar Artículo"><span class="text-white font-bold">Archivar</span></a>
				<input class="btn btn-info btn-lg btn-rounded text-u-c font-bold pull-right" type="submit" value="{{saveLabel}}">
				<a href="#" class="cancelItemView m-r-lg m-t pull-right">Cancelar</a>
				<input type="hidden" value="{{itemId}}" name="id">
				<input type="hidden" value="{{type}}" name="itemType">
			</div>
		</div>
	</form>
</div>
