<!-- addressTab — dirección por defecto del contacto (customerAddress + data JSONB). -->
<div class="tab-pane bg-white col-xs-12 no-padder animated fadeIn speed-4x" id="contactAddressTab" style="min-height:400px;">
	<div class="col-xs-12 wrapper-md">
		<div class="col-xs-12 m-b">
			<span class="font-bold text-u-c text-xs">Dirección</span>
			<input type="text" class="form-control input-lg b-b b-light no-border no-bg" name="address" value="{{address}}" autocomplete="off">
		</div>
		<div class="col-xs-12 m-b">
			<span class="font-bold text-u-c text-xs">Dirección 2</span>
			<input type="text" class="form-control input-lg b-b b-light no-border no-bg" name="address2" value="{{address2}}" autocomplete="off">
		</div>
		<div class="col-sm-6 m-b">
			<span class="font-bold text-u-c text-xs">Localidad</span>
			<input type="text" class="form-control input-lg b-b b-light no-border no-bg" name="location" value="{{location}}" autocomplete="off">
		</div>
		<div class="col-sm-6 m-b">
			<span class="font-bold text-u-c text-xs">Ciudad</span>
			<input type="text" class="form-control input-lg b-b b-light no-border no-bg" name="city" value="{{city}}" autocomplete="off">
		</div>
	</div>
</div>
