<!-- basicTab — datos principales del contacto. -->
<div class="tab-pane active bg-white col-xs-12 no-padder animated fadeIn speed-4x" id="contactBasicTab" style="min-height:400px;">
	<div class="col-xs-12 wrapper-md">
		<input type="text" class="form-control no-padder no-border no-bg font-bold text-dark" style="font-size:28px;height:50px;" name="fiscalName" placeholder="Razón Social" value="{{name}}" autocomplete="off" required>

		<div class="col-sm-6 m-b">
			<span class="font-bold text-u-c text-xs">Nombre y Apellido</span>
			<input type="text" class="form-control input-lg b-b b-light no-border no-bg" name="name" value="{{fullname}}" autocomplete="off">
		</div>
		<div class="col-sm-6 m-b">
			<span class="font-bold text-u-c text-xs">{{tinName}}</span>
			<input type="text" class="form-control input-lg b-b b-light no-border no-bg" name="tin" value="{{tin}}" autocomplete="off">
		</div>
		<div class="col-sm-6 m-b">
			<span class="font-bold text-u-c text-xs">Doc. de Identidad</span>
			<input type="text" class="form-control input-lg b-b b-light no-border no-bg" name="ci" value="{{ci}}" autocomplete="off">
		</div>
		<div class="col-sm-6 m-b">
			<span class="font-bold text-u-c text-xs">Fecha de Nacimiento</span>
			<input type="date" class="form-control input-lg b-b b-light no-border no-bg" name="bday" value="{{bday}}" autocomplete="off">
		</div>
		<div class="col-sm-6 m-b">
			<span class="font-bold text-u-c text-xs">Teléfono</span>
			<input type="tel" class="form-control input-lg b-b b-light no-border no-bg" name="phone" value="{{phone}}" autocomplete="off">
		</div>
		<div class="col-sm-6 m-b">
			<span class="font-bold text-u-c text-xs">Teléfono 2</span>
			<input type="tel" class="form-control input-lg b-b b-light no-border no-bg" name="phone2" value="{{phone2}}" autocomplete="off">
		</div>
		<div class="col-sm-6 m-b">
			<span class="font-bold text-u-c text-xs">Email</span>
			<input type="email" class="form-control input-lg b-b b-light no-border no-bg" name="email" value="{{email}}" autocomplete="off">
		</div>
		{{^isNew}}
		<div class="col-sm-6 m-b m-t-md">
			<label class="font-bold text-u-c text-xs">
				<input type="checkbox" name="status" value="1" {{#active}}checked{{/active}}> Activo
			</label>
		</div>
		{{/isNew}}
	</div>
</div>
